/* Fonts */
@font-face {
    font-family: "Lato";
      src: url("assets/fonts/Lato/Lato-Light.ttf");
      font-weight: 300;
      font-style: normal;
}
@font-face {
font-family: "Lato";
  src: url("assets/fonts/Lato/Lato-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
font-family: "Lato";
  src: url("assets/fonts/Lato/Lato-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
/* Fonts */
/* main and sizes */
body {
    font-family: 'Lato', sans-serif;
}
.section-outer {
    width: 1020px;
    margin: 0 auto;
}
.section-portfolio {
    height: 864px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}
.section-abtus {
    height: 728px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
}
.wrapper {
    width: 980px;
    height: 100px;
    margin: 0 auto;
}
/* main and sizes */

/* Section portfolio */
.content3 {
    height: 100px;
    width: 100px;
    
}
.content3-title {
    position: relative;
    top: 70px;
    left: 19px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: justify;
}
.content3-subtitle {
    position: relative;
    top: 80px;
    left: 19px;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
}

.content3-navigationbar {
    position: relative;
    top: 62px;
    left: 22px;
    justify-content: space-between;
    display: flex;
    width: 287px;
    height: 22px;
}
.content3-navigationbar span:hover {
    cursor: pointer;
    opacity: 0.5;
}
.portfolio-button {
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    border-radius: 5px;
    text-align: center;
    color: #767e9e;
    border: 1px solid #666d89;
}
.portfolio-button1  {
    color: #dedede;
    border: 1px solid #c5c5c5;
    width: 27px; 
}
.portfolio-button2 {
    text-align: center;
    width: 78px;
}
.portfolio-button3 {
    text-align: center;
    width: 93px;
}
.portfolio-button4 {
    text-align: center;
    width: 56px;
}
.portfolio-picsflex {
    position: relative;
    top: 81px;
    left: 21px;
    width: 960px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.portfolio-picsflex .picsflex {
    margin-right: 19px;
    margin-bottom: 16px;
}
.portfolio-picsflex .picsflex:nth-child(3) {
    position: relative;
    left: 2px;
}

.portfolio-picsflex .picsflex:nth-child(4) {
    position: relative;
    left: 2px;
}
.portfolio-picsflex .picsflex:nth-child(7) {
    position: relative;
    left: 2px;
}

.portfolio-picsflex .picsflex:nth-child(8) {
    position: relative;
    left: 2px;
}
.portfolio-picsflex .picsflex:nth-child(9) {
    position: relative;
    top: 2px;
}
.portfolio-picsflex .picsflex:nth-child(10) {
    position: relative;
    top: 2px;
}
.portfolio-picsflex .picsflex:nth-child(11) {
    position: relative;
    top: 2px;
}
.portfolio-picsflex .picsflex:nth-child(12) {
    position: relative;
    top: 2px;
    left: 2px;
}
.portfolio-picsflex .picsflex:nth-child(n+13) {
    display: none;
}

/* Section portfolio */
/* Section abtus */
.content4-title {
    position: relative;
    top: 67px;
    left: 19px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: justify;
}
.content4-subtitle p {
    position: relative;
    top: 78px;
    left: 19px;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
}
.peopleblock {
    position: relative;
    top: 107px;
    left: 21px;
    width: 940px;
    display: flex;
    justify-content: space-between;

}
.person1 {
    width: 302px;
}
.person2 {
    width: 302px;
}
.person3 {
    width: 302px;
}
.person1-name {
    position: relative;
    right: 3px;
    overflow: hidden;
    text-overflow: clip;
    width: 110px;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: justify;
}
.person1-description p {
    position: relative;
    right: 3px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
}
.person1-links {
    display: flex;
    width: 152px;
    justify-content: space-between;
}
.person1-links .google{
    position: relative;
    right: 1px;
}
.facebook {
    border-radius: 16px;
    border: 1px solid #666d89;
    width: 30px;
    height: 30px;
}
.facebook img {
    padding: 8px 11px 8px 11px;
    width: 8px;
    height: 14px;
}
.google {
    border-radius: 16px;
    border: 1px solid #666d89;
    width: 30px;
    height: 30px;
}
.google img {
    padding: 9px 9px 9px 9px;
    width: 15px;
    height: 14px;
}
.twitter {
    border-radius: 16px;
    border: 1px solid #666d89;
    width: 30px;
    height: 30px;
}
.twitter img {
    padding: 9px 9px 9px 9px;
    width: 15px;
    height: 12px;
}
.linkedin {
    border-radius: 16px;
    border: 1px solid #666d89;
    width: 30px;
    height: 30px;
}
.linkedin img {
    padding: 9px 9px 9px 9px;
    width: 14px;
    height: 14px;
}
.person2-name {
    position: relative;
    right: 2px;
    overflow: hidden;
    text-overflow: clip;
    width: 127px;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: justify;
}
.person2-description p {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
}
.person2-links {
    display: flex;
    width: 152px;
    justify-content: space-between;
}
.person3-name {
    position: relative;
    right: 1px;
    overflow: hidden;
    text-overflow: clip;
    width: 113px;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: justify;
}
.person3-description p {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
}
.person3-links {
    display: flex;
    width: 152px;
    justify-content: space-between;
}
.person-common-description {
    position: relative;
    top: 12px;
    width: 301px;
    height: 32px;
}
.person-common-name {
    position: relative;
    top: 15px;

}
.person-common-links {
    position: relative;
    top: 45px;
}

.person-common-links img:hover {
    opacity: 0.5;
    cursor: pointer;
}

/* Section abtus */