@font-face {
    font-family: "Lato";
      src: url("assets/fonts/Lato/Lato-Light.ttf");
      font-weight: 300;
      font-style: normal;
}
@font-face {
    font-family: "Lato";
        src: url("assets/fonts/Lato/Lato-Regular.ttf");
        font-weight: 400;
        font-style: normal;
}
@font-face {
    font-family: "Lato";
        src: url("assets/fonts/Lato/Lato-Black.ttf");
        font-weight: 900;
        font-style: normal;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
/* Header */
.section-header {
    position: fixed;
    width: 100%;
    background-color: #2d303a;
    max-height: 89px;
    border-bottom: 6px solid #323746;
    z-index: 9001;
}
.maintitle {
    display: flex;
}
.wrapper {
    max-width: 940px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
}
.content { 
    justify-content: space-between;
    display: flex;
}
.maintitle h1 {
    padding-top: 13px;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}
.maintitle span {
    color: #f06c64;
}
.navigationbar ul {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.navigationbar:hover {
    cursor: pointer;
}
.navigationbar li:not(:first-child):before {
    color: #494e62;
    content: "·";
    padding-left: 12px;
    padding-right: 12px;
}
.navigationbar a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

#menu .active {
    color: #f06c64;
}
#menu2 .active {
    color: #f06c64;
}
.hamburger {
    margin-top: 30px;;
    display: none;
    position: relative;
    width: 31px;
    height: 25px;
}
.hamburger__line {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 3px;
    top: calc(50% - 1.5px);
    left: 0;
}
.hamburger::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    width: 100%;
    height: 3px;
    background-color: #fff;
}
.hamburger::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    width: 100%;
    height: 3px;
    background-color: #fff;
}

.mobile-overlay {
    visibility: hidden;
    display: flex;
    justify-content: center;
}
.navigationbar2 {
    margin-top: 130px;
    
}
.navigationbar2:hover {
    cursor: pointer;
}
.navigationbar2 ul {
    list-style-type: none;
}
.navigationbar2 a {
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.navigationbar2 li {
    margin-bottom: 30px;
}


@media screen and (max-width: 768px) {
    .cover {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9000;
        width: 100%;
        height: 1000px;
        background-color: #2D303A;;
        opacity: 0.6;
    }
    .coveractive {
        display: block;
    }
    .wrapper {
        max-width: 768px;
    }
    .navigationbar ul {
        display: none;
    }
    .content {
        justify-content: space-between;
    }
    .activecontent {
        margin-right: 40%;
    }
    .hamburger {
        display: inline-block;
        cursor: pointer;
        transition: all 0.2s ease;
    }
    .hamburgeractive {
        transform: rotate(90deg);
        transition: all 0.2s ease;
    }
    .mobile-overlay {
        position: absolute;
        z-index: 100;
        visibility: hidden;
        width: 70%;
        height: 100vh;
        background-color: #2D303A;
        z-index: 9001;
    } 
    .activeoverlay {
        visibility: visible;
    }
}
/* Header */
/* Slider */
.section-slider {  
    padding-top: 95px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    height: 594px;
}
.section-slider-blue {
    background-color: #648BF0;
    border-bottom: 6px solid #648BF0;
}
.carousel {
    position: absolute;
    top: 396px;
    left: 50%;
    width: 100%;
    max-width: 1180px;
    text-align: center;
    transform: translate(-50%, -50%);
}
.items-container {
    position: relative;
    width: 100%;
    max-height: 600px;
    overflow: hidden;
}
.item {
    display: none;
    position: relative;
    animation: 0.2s ease-in-out;
    margin: 0 auto;
}
.project-image img {
    width: 100%;
    height: 100%;
}
.activeslide,
.next {
    display: block;
}
.next {
    position: absolute;
    top: 0;
    width: 100%;
}
.control {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    cursor: pointer;
}
.control.left {
    left: 0;
    right: auto;
}
.control.right {
    right: 0;
    left: auto;
} 
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);   
}
.arrow.right {
    right: 50%;
} 
.to-left {
    animation-name: left;
} 
.from-right {
    animation-name: right;
} 
.to-right {
    animation-name: right;
    animation-direction: reverse;
}
.from-left {
    animation-name: left;
    animation-direction: reverse;
}  
@keyframes left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
}  
@keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
}
.phones {
    margin: 0 auto;
    position: relative;
    display: flex;
    width: 940px;
}
.verticalphone {
    position: relative;
    top: 52px;
    left: 71px;
}
.verticalphone-display {
    position: relative;
    top: 116px;
    right: 155px;
    opacity: 1;
}
.horizontalphone {
    position: relative;
    top: 173px;
    right: 42px;
}
.horizontalphone-display {
    position: relative;
    top: 186px;
    right: 465px;
    opacity: 1;
}
.clickphones {
    margin: 0 auto;
    position: relative;
    display: flex;
    width: 940px;
}
.clickphones:hover {
    cursor: pointer;
}
.clickvertical-phone {
    position: relative;
    bottom: 432px;
    left: 72px;
    width: 215px;
    height: 458px;
}
.clickhorizontal-phone {
    position: relative;
    bottom: 312px;
    left: 172px;
    width: 458px;
    height: 215px;
}
@media screen and (max-width: 1020px) {
    .phones {
        width: 710px;
    }
    .verticalphone {
        width: 181px;
        height: 364px;
    }
    .verticalphone-display {
        position: relative;
        top: 101px;
        right: 100px;
        width: 143px;
        height: 252px;
    }
    .horizontalphone {
        width: 364px;
        height: 181px;
    }
    .horizontalphone-display {
        width: 252px;
        height: 143px;
        position: relative;
        top: 183px;
        right: 361px;
    }
    .clickphones {
        width: 650px;
    }
    .clickvertical-phone {
        position: relative;
        bottom: 314px;
        left: 43px;
        width: 163px;
        height: 344px;
    }
    .clickhorizontal-phone {
        width: 344px;
        height: 163px;
        position: relative;
        bottom: 193px;
        left: 90px;
    }
  }
  @media screen and (max-width: 768px) {
    .items-container {
        height: 350px;
        overflow: hidden;
    }
    .phones {
        width: 510px;
    }
    .verticalphone {
        width: 88px;
        height: 177px;
        position: relative;
        top: 67px;
        border: 1px solid palegreen;
    }
    .verticalphone-display {
        position: relative;
        top: 20px;
        left: 20px;
        width: 122px;
        height: 69px;
    }
    .horizontalphone {
        width: 177px;
        height: 88px;
        position: relative;
        top: 120px;
        border: 1px solid palegreen;
    }
    .horizontalphone-display {
        position: relative;
        top: 92px;
        right: 314px;
        width: 69px;
        height: 122px;
    }
    .clickphones {
        width: 650px;
    }
    .clickvertical-phone {
        position: relative;
        bottom: 314px;
        left: 43px;
        width: 163px;
        height: 344px;
        border: 1px solid teal;
    }
    .clickhorizontal-phone {
        width: 344px;
        height: 163px;
        position: relative;
        bottom: 193px;
        left: 90px;
        border: 1px solid teal;
    }
    .section-slider {
        height: 218px;
    }
    .carousel {
        position: absolute;
        top: 220px;
        left: 50%;
        width: 100%;
    }
    .project-image {
        width: 60%;
        height: 274px;
    }
  }
/* Slider */
/* Information */
.section-info {
    height: 493px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
}
.textbox-title {
    padding: 67px 0 28px 0;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
}
.textbox-subtitle  {
    font-size: 18px;
    line-height: 31px;
    color: #767e9e;
    font-weight: 300;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blocks {
    margin-top: 42px;
    display: grid;
    grid-template-areas: 
    "a a a"
    "a a a";
    grid-gap: 20px;
}
.block {
    display: flex;
}
.block-text_title {
    margin-left: 20px;
}
.block-text_subtitle {
    margin-left: 20px;
}
.block-text_title {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: justify;
}
.block-text_subtitle p {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    text-align: justify;
}
@media screen and (max-width: 1020px) {
    .wrapper {
        padding-right: 40px;
        padding-left: 40px;
    }
    .blocks {
        margin-top: 15px;
    }
    .textbox-title {
        padding-top: 47px;
    }
    .section-info {
        height: 100%;
    }
    .blocks {
        display: grid;
        grid-template-areas: 
        "a a"
        "a a"
        "a a";
        grid-gap: 20px;
    }
    .portfolio-picsflex {
        margin-bottom: 65px;
    }
}
@media screen and (max-width: 768px) {
    .blocks {
        display: grid;
        grid-template-areas: 
        "a"
        "a"
        "a"
        "a"
        "a"
        "a";
    }
}
/* Information */
/* Portfolio */
.section-portfolio {
    height: 864px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}
.portfolio-title {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    padding: 68px 0 28px 0;
}
.portfolio-subtitle {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    padding-bottom: 10px;
}
.portfolio-navigationbar {
    display: grid;
    grid-template-areas: 
    "a a a a";
    grid-gap: 11px;
    max-width: 300px; 
    padding-bottom: 18px;
}
.portfolio-picsflex {
    display: grid;
    grid-template-areas: 
    "a a a a"
    "a a a a"
    "a a a a";
    grid-gap: 20px;
}
.portfolio-picsflex img {
    width: 100%;
    height: 100%;
}
.portfolio-picsflex img::before {
    content: "";
    float: left;
    padding-top: 100%;

}
.portfolio-navigationbar span:hover {
    cursor: pointer;
}
.portfolio-button {
    font-size: 12px;
    line-height: 22px;
    border-radius: 5px;
    text-align: center;
    color: #767e9e;
    border: 1px solid #666d89;
}
.portfolio-button1  {
    width: 27px; 
}
.portfolio-button2 {
    width: 78px;
}
.portfolio-button3 {
    width: 93px;
}
.portfolio-button4 {
    width: 56px;
}
#portfolio-navBar .portfolio-button__active {
    color: #dedede;
    border: 1px solid #c5c5c5
}
#portfolio .active-frame {
    outline: 5px solid #F06C64;
    position: relative;
    bottom: 2.5px;
    right: 2.5px;
}
@media screen and (max-width: 1020px) {
    .section-portfolio {
        height: 100%;
    }
    .portfolio-picsflex {
        display: grid;
        grid-template-areas: 
        "a a a"
        "a a a"
        "a a a"
        "a a a";
    }
    
}
@media screen and (max-width: 768px) {
    .portfolio-navigationbar {
        display: grid;
        grid-template-areas: 
        "a a a a";
        max-width: 300px; 
        padding-bottom: 18px;
    }
    .portfolio-picsflex {
        display: grid;
        grid-template-areas: 
        "a a"
        "a a"
        "a a"
        "a a";
        grid-gap: 10px;
    }
    
}
@media screen and (max-width: 375px) {
    .portfolio-navigationbar {
        display: grid;
        grid-template-areas: 
        "a a a a";
        grid-gap: 5px;
        max-width: 200px; 
    }
    .portfolio-button {
        font-size: 10px;
    }
    .portfolio-button1  {
        width: 20px; 
    }
    .portfolio-button2 {
        width: 60px;
    }
    .portfolio-button3 {
        width: 75px;
    }
    .portfolio-button4 {
        width: 49px;
    }

}
/* Portfolio */
/* AboutUs */
.section-abtus {
    height: 728px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
}
.facebook {
    border-radius: 16px;
    border: 1px solid #666d89;
    width: 30px;
    height: 30px;
}
.facebook img {
    padding: 8px 11px 8px 11px;
    width: 8px;
    height: 14px;
}
.google {
    border-radius: 16px;
    border: 1px solid #666d89;
    width: 30px;
    height: 30px;
}
.google img {
    padding: 9px 9px 9px 9px;
    width: 15px;
    height: 14px;
}
.twitter {
    border-radius: 16px;
    border: 1px solid #666d89;
    width: 30px;
    height: 30px;
}
.twitter img {
    padding: 9px 9px 9px 9px;
    width: 15px;
    height: 12px;
}
.linkedin {
    border-radius: 16px;
    border: 1px solid #666d89;
    width: 30px;
    height: 30px;
}
.linkedin img {
    padding: 9px 9px 9px 9px;
    width: 14px;
    height: 14px;
}
.aboutus-title {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    padding: 68px 0 28px 0;
}
.aboutus-subtitle {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: justify;
    padding-bottom: 45px;
}
.peopleblock {
    display: grid;
    grid-template-areas: 
    "a a a";
    grid-gap: 2%;
}
.personphoto img {
    max-width: 100%;
} 
.person-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    padding: 15px 0 8px 0;
}
.person-description {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    text-align: justify;
    padding-bottom: 23px;
}
.personlinks {
    max-width: 152px;
    display: grid;
    grid-template-areas: 
    "a a a a";
    grid-gap: 8px;    
}
.personlinks img:hover {
    opacity: 0.5;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .section-abtus {
        height: 100%;
    }
    .aboutus-title {
        padding: 33px 0 28px 0;
    }
    .aboutus-subtitle {
        padding-bottom: 14px;
    }
    .peopleblock {
        display: grid;
        grid-template-areas: 
        "a"
        "a"
        "a";
        padding-bottom: 75px;
    }
}
/* AboutUs */
/* GetAQuote */
.section-getquote {
    height: 648px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}
.getquote-title {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: 900;
    padding: 68px 0 28px 0;
}
.getquote-subtitle {
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-weight: 300;
    text-align: justify;
    padding-bottom: 45px;
}
.getquote__tableblocks {
    display: grid;
    grid-template-areas: 
    "a a";
    grid-gap: 20px;
}
.getquote-leftblock input {
    padding-bottom: 2px;
    padding-left: 15px;
    width: 600px;
    height: 35px;
    margin-bottom: 16px;
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    color: #f0d8d9;
}
.getquote-leftblock input::-moz-placeholder {
    color: #f48c8f;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
}
.getquote-leftblock input::-webkit-input-placeholder {
    color: #f48c8f;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
} 
.getquote-leftblock textarea {
    padding-top: 7px;
    padding-left: 15px;
    width: 600px;
    height: 193px;
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    color: #f0d8d9;
}
.getquote-leftblock textarea::-moz-placeholder {
    color: #f48c8f;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
}
.getquote-leftblock textarea::-webkit-input-placeholder {
    color: #f48c8f;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
}
.getquote-leftblock .submit-button {
    width: 100px;
    height: 38px;
    background-color: #FBC65F;
    color: #886A30;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    margin-top: 14px;
}
.getquote-leftblock .submit-button:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: 0.2s;
}
.getquote-rightblock__title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    padding-bottom: 8px;
}
.getquote-rightblock__subtitle {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 500;
    text-align: justify;
    padding-bottom: 20px;
}
.getquote-rightblock__information a {
    text-decoration: none;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 500;
} 
.getquote-rightblock__information li:nth-child(1) {
    list-style-image: url("assets/GetQuote Section/locationsmall.png");
}
.getquote-rightblock__information li:nth-child(2) {
    list-style-image: url("assets/GetQuote Section/phonesmall.png");
}
.getquote-rightblock__information li:nth-child(3) {
    list-style-image: url("assets/GetQuote Section/mailsmall.png");
}
.message-block {
    width: 400px;
    height: 190px;
    position: fixed;
    top: 30%;
    left: 35%;
    background-color: #f2f2f2;
    color: #676d87;
    z-index: 100;
    border: 2px solid #2d2f3b;
}
.message-block__text {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 350px;
    margin-left: 20px;
}
.message-block__text span:not(first-child) {
    margin-left: 2px;
}
.closebutton {
    margin-top: 10px;
    margin-left: 20px;
    color: #676d87;
    border: 1px solid #676d87;
    background-color: transparent;
}
.hidden {
    visibility: hidden;
}
@media screen and (max-width: 1020px) {
    .getquote-leftblock input {
        width: 442px;
    }
    .getquote-leftblock textarea {
        width: 442px;
    }
    .getquote-subtitle {
        padding-bottom: 19px;
    }
    .getquote-leftblock input {
        margin-bottom: 12px;
    }
}
@media screen and (max-width: 768px) {
    .section-getquote {
        height: 100%;
    }
    .getquote-title {
        padding: 44px 0 28px 0;
    }
    .getquote__tableblocks {
        display: grid;
        grid-template-areas: 
        "a"
        "a";
    }
    .getquote-leftblock input {
        width: 300px;
    }
    .getquote-leftblock textarea {
        width: 300px;
    }
    .getquote-rightblock {
        padding-bottom: 42px;
    }
    .message-block {
        width: 300px;
        height: 190px;
        position: fixed;
        top: 30%;
        left: 10%;
    }
    .message-block__text {
        width: 250px;
    }
}
@media screen and (max-width: 375px) {
    .getquote-leftblock input {
        width: 200px;
    }
    .getquote-leftblock textarea {
        width: 200px;
    }
}
/* GetAQuote */
/* Footer */
.section-footer {
    height: 76px;
    background-color: #2d303a;
}
.footerlinks {
        max-width: 152px;
        display: grid;
        grid-template-areas: 
        "a a a a";
        grid-gap: 8px;    
}
.footercontent {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
}
.footerlinks img:hover {
    opacity: 0.5;
    cursor: pointer;
}
.copyright {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    padding-top: 5px;
}
@media screen and (max-width: 768px) {
    .footercontent {
        justify-content: center;
    }
    .copyright {
        display: none;
    }
}
/* Footer */
